/.vscode
/animation.html
/bootstrap link.txt
/desktop.ini
/flexbox.html
/form.html
/grid.html
/internship
/list w3.html
/list.css
/list.html
/m.html
/mail.txt
/practice 1 .html
/project
/style.css
/table.html
/transitiojn.html
/transition.html
/website